body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}
.todo-container{
    
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color:rgb(206, 195, 182);
}
.input-section {
    background-color: #056679;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001c;
}
.input-section input{
    border-radius: 5px;
    border: 1px solid rbg(226, 226, 226);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #056679;
    outline: none;
    color:rgb(206, 195, 182);
}
input::placeholder{
    color: #4997a6;
}
ul{
    
    text-align: left;
    padding: 0;

}
ul li{
    display: flex;
    list-style: none;
    background-color: #094f5d;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #4fcae3;
    box-shadow: 0 4px 6px #00000066;

}
ul li i{
    text-align: right;
    flex: 1;
}
ul li:hover {
  background-color: #07404b;
}

.icons {
  display: flex;
  margin-left: auto;
  gap: 50%;
}
.icons i:hover {
    color: #ff6b6b;
}
.icons #j:hover{
   color: green;
}